*.tmp
*.pyc
*.csv
*.svg
*.txt
.idea/
.vscode/
*.log
*.zip
*.pt
*.jpg
*.csv.gz
*.png
.git
*/siamese.onnx
*/yolov11n_captcha.onnx
Service/PlayWright/user_data
node_modules/
.virtual_documents
.ipynb_checkpoints
__test/
Service/GrpcModule/Utils/极验/Geetest_html
Service/samsclub/api/app_storage.json
.env.fastapi.dev
.venv/
venv/
scripts/log
!Service/GrpcModule/Grpc/GrpcProto
!requirements.txt
!Service/GrpcModule/Utils/user-agents_dalvik_application_2-1.json
__pycache__/
test/
