fastapi[all]
fastapi-cdn-host
fastapi-cache2
faststream[rabbit]
fastapi
langchain_openai
vllm
redis
apscheduler
uvicorn[standard]
httpx
aio-pika
asyncer
playwright
curl-cffi
cloudscraper
fake-useragent
jieba
scikit-learn
grpcio==1.75.1
grpcio-tools==1.75.1
sqlacodegen-v2  # 仅开发时用，生产可不装
sqlmodel
aiosqlite
aiomysql
alembic
loguru
pydantic
python-dotenv
pika
msgpack
PyExecJS2
py_mini_racer
beautifulsoup4
requests
exceptiongroup
curl_cffi
socksio
python_socks
pandas
patchright
playwright
bili_ticket_gt_python
strawberry-graphql[fastapi]
strawberry-sqlalchemy-mapper
captcha
aiofiles
cryptography
pymilvus
aiodns
protobuf==6.32.1
google
crawlee[all]
redis